
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 15px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-joke:before { content: "\e640"; }

.icon-refuse:before { content: "\e639"; }

.icon-sex_female:before { content: "\e638"; }

.icon-sex_male:before { content: "\e637"; }

.icon-exist:before { content: "\e636"; }

.icon-male:before { content: "\e635"; }

.icon-female:before { content: "\e634"; }

.icon-icon:before { content: "\e633"; }

.icon-picture:before { content: "\e632"; }

.icon-app:before { content: "\e631"; }

.icon-contact:before { content: "\e630"; }

.icon-addfriend:before { content: "\e629"; }

.icon-head:before { content: "\e628"; }

.icon-add:before { content: "\e627"; }

.icon-menu:before { content: "\e626"; }

.icon-share:before { content: "\e625"; }

.icon-robot:before { content: "\e624"; }

.icon-record:before { content: "\e623"; }

.icon-weather:before { content: "\e622"; }

.icon-news:before { content: "\e621"; }

.icon-chat:before { content: "\e620"; }

.icon-password:before { content: "\e619"; }

.icon-username:before { content: "\e618"; }

.icon-QR-code:before { content: "\e617"; }

.icon-delete:before { content: "\e616"; }

.icon-scan:before { content: "\e615"; }

.icon-settings:before { content: "\e614"; }

.icon-refresh:before { content: "\e613"; }

.icon-search:before { content: "\e612"; }

.icon-accomplish:before { content: "\e611"; }

.icon-orders:before { content: "\e610"; }

.icon-red-envelopes:before { content: "\e609"; }

.icon-drop-down:before { content: "\e608"; }

.icon-merge:before { content: "\e607"; }

.icon-expand:before { content: "\e606"; }

.icon-next:before { content: "\e605"; }

.icon-back:before { content: "\e604"; }

.icon-camera:before { content: "\e603"; }

.icon-message:before { content: "\e602"; }

.icon-voice:before { content: "\e601"; }
